
* {
    margin: 0;
    padding: 0;
}

.outerHeader{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 78px;
    width: 100%;
}

.innerHeader{
    /* background-color: green; */
    background-color: #ffffff;
    width: 960px;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
}


.nameBackgroundStyle{
color: white;
background-color: #4aaaa5;
width: 20%;
height: 100%;
float: left;
}

.nameTextStyle{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

.navigation{

font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777777;
text-decoration: none;
float: right;
padding-top: 25px;
}
.linkStyle{
    padding-right: 20px;
    padding-left: 20px;
    opacity: 20%;
}
.background{
    background-image: url(../images/dust_scratches.png);
    background-size: cover;
}

.aboutMeOuter{
    background-color: #ffffff;
    width: 960px;
    height: 500px;
    margin-left: 200px;
    margin-top: 50px;
    border: 1px solid #dddddd;

}

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}


.aboutMeBackground{
    background-color: #ffffff;
    /* background-color: green; */
    width: 20%;
    height: 15%;
    }

.aboutMeText{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    color: #4aaaa5;
}

.aboutMeBorder{
    border-bottom: 2px solid #dddddd;
    margin-left: 33px;
    padding-top: 25px;
}

.profileImage{
    height: 200px;
    width: 200px;
    display: block;
    float: left;
    padding-right: 20px;
}

.p1{
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777777;
border-top: 2px solid #dddddd;
padding-top: 25px;
margin-left: 33px;
width: 900px;
line-height: 25px;
}

.p2{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-top: 25px;
    margin-left: 33px;
    width: 900px;
    line-height: 25px;
    }

.flexContainer{
    display: flex;
    height: 1300px;
    background-color: #ffffff;
    margin-left: 200px;
    margin-top: 50px;
    border: 1px solid #dddddd;
    justify-content: left;
    flex-wrap: wrap;
    }


    .portfolioTextColor {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 200px;
        height: 30px;
        text-align: center;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-size: 20px;
        position: absolute;
        bottom: 10px;
    }

    .portfolioImage {
        width: 200px;
        height: 150px;
        display: block;
        padding-right: 20px;
        object-fit: cover;
        /* position: absolute; */
    }

.portfolioImageContainer {
    position: relative;
    display: inline-block;
    /* float: left; */
}

/* .portfolioImageContainer:nth-child(2) {
    margin-right: 150px;
} */

/* .portfolioImageContainer:nth-last-child() {
    float: left;
    margin-right: 400px;
} */

.input1 {
    width: 100%;
    margin-bottom: 10px;
}

.formText {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777777;
opacity: 80%;
font-size: 20px;
margin-top: 5px;
}

.input2 {
    width: 100%;
    height: 200px;
}

.button {
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #777777;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* border-top: #4aaaa5;
    border-style: solid; */
}